<a href="https://colab.research.google.com/github/ErnestChng/FxVol/blob/main/Copy_of_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df = pd.read_csv("https://raw.githubusercontent.com/ErnestChng/FxVol/main/data/df.csv")
df.ffill(axis = 0, inplace = True) 
df.index = pd.to_datetime(df.Date)
df.drop(columns=['Date'], inplace = True)

df.head()

            EUR_USD open  EUR_USD high  ...  USD_SEK BB_up  USD_SEK BB_dn
Date                                    ...
2013-01-14       1.33613       1.34035  ...            NaN            NaN
2013-01-15       1.33803       1.33934  ...            NaN            NaN
2013-01-16       1.33044       1.33248  ...            NaN            NaN
2013-01-17       1.32887       1.33872  ...            NaN            NaN
2013-01-18       1.33733       1.33980  ...            NaN            NaN

[5 rows x 96 columns]

In [61]:
print(df[df.isna().any(axis=1)])
# 0 - 13 contain NaN values. Remove them

df = df.loc['2013-02-02':]

            EUR_USD open  EUR_USD high  ...  USD_SEK BB_up  USD_SEK BB_dn
Date                                    ...
2013-01-14       1.33613       1.34035  ...            NaN            NaN
2013-01-15       1.33803       1.33934  ...            NaN            NaN
2013-01-16       1.33044       1.33248  ...            NaN            NaN
2013-01-17       1.32887       1.33872  ...            NaN            NaN
2013-01-18       1.33733       1.33980  ...            NaN            NaN
2013-01-22       1.33118       1.33715  ...            NaN            NaN
2013-01-23       1.33211       1.33546  ...            NaN            NaN
2013-01-24       1.33174       1.33925  ...            NaN            NaN
2013-01-25       1.33744       1.34790  ...            NaN            NaN
2013-01-28       1.34651       1.34770  ...            NaN            NaN
2013-01-29       1.34549       1.34971  ...            NaN            NaN
2013-01-30       1.34897       1.35872  ...            NaN            NaN
2013-01-31       1.35665       1.35939  ...            NaN            NaN
2013-02-01       1.35772       1.37114  ...       6.590011       6.296359

[14 rows x 96 columns]

In [65]:
ind = ["ATR", "OBV", "RSI", "BB_up", "BB_dn"]
col_x = [c for c in df.columns.values for i in ind if i in c]
col_y = df.drop(col_x, axis = 1).columns.values

df_y = df[col_y].pct_change().rolling(21).std().iloc[21:]
df_x = df[col_x].iloc[21:]

df = pd.merge(df_x, df_y,left_index=True, right_index=True)

            EUR_USD ATR  EUR_USD OBV  ...  VIX Volume  VIX Adj Close
Date                                  ...
2013-03-06     0.011022      -212684  ...         NaN       0.101935
2013-03-07     0.011324      -148629  ...         NaN       0.101180
2013-03-08     0.011791      -208702  ...         NaN       0.101385
2013-03-11     0.011479      -158313  ...         NaN       0.102980
2013-03-12     0.011255      -223825  ...         NaN       0.103612

[5 rows x 96 columns]

In [66]:
df.sort_index(axis=1, inplace=True)
df.columns

Index(['AUD_USD ATR', 'AUD_USD BB_dn', 'AUD_USD BB_up', 'AUD_USD OBV',
       'AUD_USD RSI', 'AUD_USD close', 'AUD_USD high', 'AUD_USD low',
       'AUD_USD open', 'AUD_USD volume', 'EUR_USD ATR', 'EUR_USD BB_dn',
       'EUR_USD BB_up', 'EUR_USD OBV', 'EUR_USD RSI', 'EUR_USD close',
       'EUR_USD high', 'EUR_USD low', 'EUR_USD open', 'EUR_USD volume',
       'GBP_USD ATR', 'GBP_USD BB_dn', 'GBP_USD BB_up', 'GBP_USD OBV',
       'GBP_USD RSI', 'GBP_USD close', 'GBP_USD high', 'GBP_USD low',
       'GBP_USD open', 'GBP_USD volume', 'NZD_USD ATR', 'NZD_USD BB_dn',
       'NZD_USD BB_up', 'NZD_USD OBV', 'NZD_USD RSI', 'NZD_USD close',
       'NZD_USD high', 'NZD_USD low', 'NZD_USD open', 'NZD_USD volume',
       'USD_CAD ATR', 'USD_CAD BB_dn', 'USD_CAD BB_up', 'USD_CAD OBV',
       'USD_CAD RSI', 'USD_CAD close', 'USD_CAD high', 'USD_CAD low',
       'USD_CAD open', 'USD_CAD volume', 'USD_CHF ATR', 'USD_CHF BB_dn',
       'USD_CHF BB_up', 'USD_CHF OBV', 'USD_CHF RSI', 'USD_CHF close',
       'USD_CHF high', 'USD_CHF low', 'USD_CHF open', 'USD_CHF volume',
       'USD_JPY ATR', 'USD_JPY BB_dn', 'USD_JPY BB_up', 'USD_JPY OBV',
       'USD_JPY RSI', 'USD_JPY close', 'USD_JPY high', 'USD_JPY low',
       'USD_JPY open', 'USD_JPY volume', 'USD_NOK ATR', 'USD_NOK BB_dn',
       'USD_NOK BB_up', 'USD_NOK OBV', 'USD_NOK RSI', 'USD_NOK close',
       'USD_NOK high', 'USD_NOK low', 'USD_NOK open', 'USD_NOK volume',
       'USD_SEK ATR', 'USD_SEK BB_dn', 'USD_SEK BB_up', 'USD_SEK OBV',
       'USD_SEK RSI', 'USD_SEK close', 'USD_SEK high', 'USD_SEK low',
       'USD_SEK open', 'USD_SEK volume', 'VIX Adj Close', 'VIX Close',
       'VIX High', 'VIX Low', 'VIX Open', 'VIX Volume'],
      dtype='object')

In [67]:
"""
- ATR 
- Bollinger bands
- MACD (N/A)
- SMA/EMA (N/A)
- RSI
- OBV
- Donchian channel (N/A)
"""

aud_usd = df[['AUD_USD ATR', 'AUD_USD BB_dn', 'AUD_USD BB_up', 'AUD_USD OBV',
       'AUD_USD RSI', 'AUD_USD close', 'AUD_USD high', 'AUD_USD low',
       'AUD_USD open', 'AUD_USD volume']]
eur_usd = df[['EUR_USD ATR', 'EUR_USD BB_dn',
       'EUR_USD BB_up', 'EUR_USD OBV', 'EUR_USD RSI', 'EUR_USD close',
       'EUR_USD high', 'EUR_USD low', 'EUR_USD open', 'EUR_USD volume']]
gbp_usd = df[['GBP_USD ATR', 'GBP_USD BB_dn', 'GBP_USD BB_up', 'GBP_USD OBV',
       'GBP_USD RSI', 'GBP_USD close', 'GBP_USD high', 'GBP_USD low',
       'GBP_USD open', 'GBP_USD volume']]
nzd_usd = df[[ 'NZD_USD ATR', 'NZD_USD BB_dn','NZD_USD BB_up', 'NZD_USD OBV', 'NZD_USD RSI', 'NZD_USD close',
       'NZD_USD high', 'NZD_USD low', 'NZD_USD open', 'NZD_USD volume']]
usd_cad = df[['USD_CAD ATR', 'USD_CAD BB_dn', 'USD_CAD BB_up', 'USD_CAD OBV',
       'USD_CAD RSI', 'USD_CAD close', 'USD_CAD high', 'USD_CAD low',
       'USD_CAD open', 'USD_CAD volume']]
usd_chf = df[[ 'USD_CHF ATR', 'USD_CHF BB_dn',
       'USD_CHF BB_up', 'USD_CHF OBV', 'USD_CHF RSI', 'USD_CHF close',
       'USD_CHF high', 'USD_CHF low', 'USD_CHF open', 'USD_CHF volume']]
usd_jpy = df[[ 'USD_JPY ATR', 'USD_JPY BB_dn', 'USD_JPY BB_up', 'USD_JPY OBV',
       'USD_JPY RSI', 'USD_JPY close', 'USD_JPY high', 'USD_JPY low',
       'USD_JPY open', 'USD_JPY volume']]
usd_nok = df[['USD_NOK ATR', 'USD_NOK BB_dn',
       'USD_NOK BB_up', 'USD_NOK OBV', 'USD_NOK RSI', 'USD_NOK close',
       'USD_NOK high', 'USD_NOK low', 'USD_NOK open', 'USD_NOK volume']]
usd_sek = df[[ 'USD_SEK ATR', 'USD_SEK BB_dn', 'USD_SEK BB_up', 'USD_SEK OBV',
       'USD_SEK RSI', 'USD_SEK close', 'USD_SEK high', 'USD_SEK low',
       'USD_SEK open', 'USD_SEK volume']]