<a href="https://colab.research.google.com/github/ErnestChng/FxVol/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df = pd.read_csv("https://raw.githubusercontent.com/ErnestChng/FxVol/main/data/df.csv")
df.ffill(axis = 0, inplace = True) 

df.head()

         Date  EUR_USD open  ...  USD_SEK BB_up  USD_SEK BB_dn
0  2013-01-14       1.33613  ...            NaN            NaN
1  2013-01-15       1.33803  ...            NaN            NaN
2  2013-01-16       1.33044  ...            NaN            NaN
3  2013-01-17       1.32887  ...            NaN            NaN
4  2013-01-18       1.33733  ...            NaN            NaN

[5 rows x 97 columns]

In [39]:
print(df[df.isna().any(axis=1)])

          Date  EUR_USD open  ...  USD_SEK BB_up  USD_SEK BB_dn
0   2013-01-14       1.33613  ...            NaN            NaN
1   2013-01-15       1.33803  ...            NaN            NaN
2   2013-01-16       1.33044  ...            NaN            NaN
3   2013-01-17       1.32887  ...            NaN            NaN
4   2013-01-18       1.33733  ...            NaN            NaN
5   2013-01-22       1.33118  ...            NaN            NaN
6   2013-01-23       1.33211  ...            NaN            NaN
7   2013-01-24       1.33174  ...            NaN            NaN
8   2013-01-25       1.33744  ...            NaN            NaN
9   2013-01-28       1.34651  ...            NaN            NaN
10  2013-01-29       1.34549  ...            NaN            NaN
11  2013-01-30       1.34897  ...            NaN            NaN
12  2013-01-31       1.35665  ...            NaN            NaN
13  2013-02-01       1.35772  ...       6.590011       6.296359

[14 rows x 97 columns]

In [43]:
df.loc[14:].rolling(21).std().loc[34:]
df.head()

    EUR_USD open  EUR_USD high  ...  USD_SEK BB_up  USD_SEK BB_dn
34      0.019452      0.019120  ...       0.049586       0.006537
35      0.018554      0.018745  ...       0.045244       0.007654
36      0.018934      0.018195  ...       0.040748       0.010044
37      0.017614      0.017257  ...       0.036849       0.013788
38      0.017075      0.016544  ...       0.033364       0.019598

[5 rows x 96 columns]

In [47]:
df.sort_index(axis=1, inplace=True)
df.columns
"""
- ATR 
- Bollinger bands
- MACD (N/A)
- SMA/EMA (N/A)
- RSI
- OBV
- Donchian channel (N/A)
"""
aud_usd = df[['AUD_USD ATR', 'AUD_USD BB_dn', 'AUD_USD BB_up', 'AUD_USD OBV',
       'AUD_USD RSI', 'AUD_USD close', 'AUD_USD high', 'AUD_USD low',
       'AUD_USD open', 'AUD_USD volume']]
eur_usd = df[['EUR_USD ATR', 'EUR_USD BB_dn',
       'EUR_USD BB_up', 'EUR_USD OBV', 'EUR_USD RSI', 'EUR_USD close',
       'EUR_USD high', 'EUR_USD low', 'EUR_USD open', 'EUR_USD volume']]
gbp_usd = df[['GBP_USD ATR', 'GBP_USD BB_dn', 'GBP_USD BB_up', 'GBP_USD OBV',
       'GBP_USD RSI', 'GBP_USD close', 'GBP_USD high', 'GBP_USD low',
       'GBP_USD open', 'GBP_USD volume']]
nzd_usd = df[[ 'NZD_USD BB_up', 'NZD_USD OBV', 'NZD_USD RSI', 'NZD_USD close',
       'NZD_USD high', 'NZD_USD low', 'NZD_USD open', 'NZD_USD volume']]
usd_cad = df[[]]
usd_chf = df[[]]
usd_jpy = df[[]]
usd_nok = df[[]]
usd_sek = df[[]]
vtx = df[[]]